@page "/Publishers"
@layout SystemAdminLayout

<h1 style=" margin-top: 150px;font-family: Courier New, Courier, monospace;font-weight: bolder;">Publishers</h1>

<div class="row">
    <div class="column">
        <a href="/Publisher/Add">
            <i class="fas fa-book-open icons-layout"></i>
        </a>
        <h3 style="text-align: center; top: 40px;color: #013E7E;font-family: Courier New, Courier, monospace; font-weight: bolder;float:left">Add Publisher</h3>
    </div>
    <div class="column" style="padding-right:6em;">
        <a href="/Publishers/Search">
            <i class="fas fa-search icons-layout"></i>

        </a>
        <h3 style="text-align: center; top: 40px;color: #013E7E;font-family: Courier New, Courier, monospace; font-weight: bolder;float:left">Search For Publisher</h3>
    </div>
</div>

@code {

}
