@*Page Name:Delete Library Material
    Page Description: This page is for deleting a library material from the database*@


@page "/Librarian/Catalog/Delete/{Id:int}"
@layout LibrarianLayout
@using JIS_LMS.Data;
@using JIS_LMS.Model;
@inject NavigationManager NavigationManager
@inject Library_MaterialService Library_MaterialService
@inject CD_DVD_BR_Service CD_DVD_BR_Service
@inject BookService BookService
@inject JournalService JournalService
@inject LibraryMaterilaAuthorService LibraryMaterilaAuthorService


<div class="container" style="margin-left:1em">
    <h3>Delete Library Material </h3>

    <div class="alert alert-danger">
        Do you want to delete this Library Material?
        <br>
        <br>
        Note: This Library Material will not be deleted if it is linked to a borrowing or a hold.

    </div>

    <table>
        <tr>
            <th>Acession Number: </th>
            <td>@libraryMaterial.AccessionNumber</td>
        </tr>

        <tr>
            <th>Title: </th>
            <td>@libraryMaterial.Title</td>
        </tr>

    </table>
    <br />
    <button type="submit" class="btn btn-outline-danger " style=" width: 200px;" @onclick="RemoveLibraryMaterial">Delete Library Material</button>
    <a href="/Librarian/Catalog/Search" class="btn btn-outline-secondary" role="button">Cancel</a>

    <div class="mt-4"></div>
</div>

@code {

    Library_Material libraryMaterial = new Library_Material();

    [Parameter]
    public int Id { get; set; }

    // Execute when component starts / initializes
    protected override void OnInitialized()
    {
        libraryMaterial = Library_MaterialService.GetLibraryMaterial(Id);
    }

    // Deleting a library material from the database
    private void RemoveLibraryMaterial()
    {
        //check if library material is book or journal or cd/dvd/br to delete it
        if (libraryMaterial.LibraryMaterialType == 1)
        {
            BookService.DeleteBook(Id);
        }

        else if (libraryMaterial.LibraryMaterialType == 2)
        {
            JournalService.DeleteJournal(Id);
        }

        else if (libraryMaterial.LibraryMaterialType == 3)
        {
            CD_DVD_BR_Service.DeleteCD_DVD_BR(Id);
        }
        Library_MaterialService.DeleteLibraryMaterial(Id);

        // May navigate to the Catalog Search Page
        NavigationManager.NavigateTo("/Librarian/Catalog/Search");
    }



}
