@*Page Name:Delete Author 
  Page Description: This page is for deleting an author from the datbase*@

@page "/Author/Delete/{Id:int}"
@layout SystemAdminLayout
@using JIS_LMS.Data;
@using JIS_LMS.Model;
@inject NavigationManager NavigationManager
@inject AuthorService AuthorService


<div class="container" style="margin-left:1em">
    <h3>Delete Author</h3>

    <div class="alert alert-danger">
        Do you want to delete this Author?
    </div>

    <table>
        <tr>
            <th>Name: </th>
            <td>@author.FirstName   @author.LastName </td>
        </tr>


    </table>
    <br />
    <button type="submit" class="btn btn-outline-danger" style=" width: 160px;" @onclick="RemoveAuthor">Delete Author</button>
    <a href="/Authors/Search" class="btn btn-outline-secondary" role="button">Cancel</a>

    <div class="mt-4"></div>
</div>

@code {

    Author author = new Author();

    [Parameter]
    public int Id { get; set; }

    // Execute when component starts / initializes
    protected override void OnInitialized()
    {
        author = AuthorService.GetAuthor(Id);
    }


    // Deleting an author from the database
    private void RemoveAuthor()
    {
        AuthorService.DeleteAuthor(Id);

        // May navigate to the Author Search Page
        NavigationManager.NavigateTo("/Authors/Search");
    }


}