@*Page Name:Delete Author
    Page Description: This page is for deleting an author from the datbase*@

@page "/Librarian/Author/Delete/{Id:int}"
@layout LibrarianLayout
@using JIS_LMS.Data;
@using JIS_LMS.Model;
@using Microsoft.Extensions.Logging
@using Syncfusion.Blazor.Popups
@inject NavigationManager NavigationManager
@inject ILogger<Author> Logger
@inject AuthorService AuthorService


<div class="container" style="margin-left:1em">
    <h3>Delete Author</h3>

    <div class="alert alert-danger">
        Do you want to delete this Author?
    </div>

    <table>
        <tr>
            <th>Name: </th>
            <td>@author.FirstName   @author.LastName </td>
        </tr>


    </table>
    <br />
    <button type="submit" class="btn btn-outline-danger" style=" width: 160px;" @onclick="RemoveAuthor">Delete Author</button>
    <a href="/Librarian/Authors/Search" class="btn btn-outline-secondary" role="button">Cancel</a>

    <div class="mt-4"></div>
</div>

@code {

    Author author = new Author();

    [Parameter]
    public int Id { get; set; }

    bool loadFailed;


    // Execute when component starts / initializes
    protected override void OnInitialized()
    {
        author = AuthorService.GetAuthor(Id);
    }



    // Deleting an author from the database
    private void RemoveAuthor()
    {

        try
        {
            loadFailed = false;
            AuthorService.DeleteAuthor(Id);
        }
        catch (Exception ex)
        {

            loadFailed = true;
            Logger.LogWarning(ex, "The author has written library materials that are in the system.Please Delete them first.", Id);


        }
        //AuthorService.DeleteAuthor(Id);

        // May navigate to the Author Search Page
        NavigationManager.NavigateTo("/Librarian/Authors/Search");
    }


}