@*Page Name:Search Authors
    Page Description: This page is for seaching authors*@

@page "/Librarian/Authors/Search"
@layout LibrarianLayout
@using Microsoft.EntityFrameworkCore
@using JIS_LMS.Data;
@using JIS_LMS.Model;
@using Microsoft.AspNetCore.Components.Forms
@inject AuthorService AuthorService
@inject LMSDbContext DbContext

<h3 style=" margin-top: 50px;font-weight: bolder;color:#013E7E">Search Authors</h3>
<br>


@if (authors == null)
{
    <p style="color:red;">loading....</p>
}
else
{
    <RadzenGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterMode="FilterMode.Advanced" AllowPaging="true" PageSize="6"
                AllowSorting="true" Data="@authors" TItem="Author" ColumnWidth="100px" >
        <Columns>
            <RadzenGridColumn TItem="Author" Property="FullName" Title="Name" />
            <RadzenGridColumn TItem="Author" Context="LMSDbContext" Title="Action" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="7px">
                <Template Context="data">
                    <a href="/Librarian/Author/Details/@data.AuthorId">
                        <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon="list" Size="ButtonSize.Small" Text="Details"></RadzenButton>
                    </a>
                </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Author" Context="LMSDbContext" Title="Action" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="7px">
                <Template Context="data">
                    <a href="/Librarian/Author/Delete/@data.AuthorId">
                        <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Small" Text="Delete"></RadzenButton>
                    </a>
                </Template>
            </RadzenGridColumn>
        </Columns>
    </RadzenGrid>

}


@code
{

    IEnumerable<Author> authors;

    RadzenGrid<Author> AuthorsGrid;

    // Execute when component starts / initializes
    protected override void OnInitialized()
    {
        authors = DbContext.Author;
    }


}
