@page "/Patrons/Search"
@layout SystemAdminLayout
@using Microsoft.EntityFrameworkCore
@using JIS_LMS.Data;
@using JIS_LMS.Model
@using Microsoft.AspNetCore.Components.Forms

@inject ParentService ParentService

@inject LMSDbContext DbContext

<h3 style=" margin-top: 50px;font-family: Courier New, Courier, monospace;font-weight: bolder;">Search Patrons</h3>



@if (patrons == null)
{
    <p style="color:red">loading....</p>
}


else
{
    <div class="form-group">

        <Select @onchange="patronChange">
            <option value="">-- Select Patron Type --</option>
            @foreach (var type in Enum.GetValues(typeof(PatronType)))
            {


                <option value="@(type)"> @(type)</option>
            }
        </Select>
    </div>

    <div style="visibility:@Studentvisible;">
        <RadzenGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterMode="FilterMode.Advanced" AllowPaging="true" PageSize="4"
                    AllowSorting="true" Data="@patrons" TItem="Patron" ColumnWidth="200px" Style=" font-family:'Courier New';font-weight:bolder">
            <Columns>
                <RadzenGridColumn TItem="Patron" Property="ImageFile" Title="Photo" Sortable="false" Filterable="false">
                    <Template Context="data">
                        <RadzenImage Style="width:60px; height:80px" Path="@data?.ImageFile" />
                    </Template>
                </RadzenGridColumn>
                <RadzenGridColumn TItem="Patron" Property="FirstName" Title="First Name  " />
                <RadzenGridColumn TItem="Parent" Property="MiddleName" Title="Middle Name" />
                <RadzenGridColumn TItem="Patron" Property="LastName" Title="Last Name" />
                @*<RadzenGridColumn TItem="Library_Management_System.Data.Patron" Property="SchoolId" Title="SchoolId" />
                    <RadzenGridColumn TItem="Library_Management_System.Data.Patron" Property="ClassYear" Title="Class Year" />
                    <RadzenGridColumn TItem="Library_Management_System.Data.Patron" Property="ClassName" Title="ClassName" />*@




                <RadzenGridColumn TItem="Patron" Context="LMSDbContext" Title="Action" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="100px">
                    <Template Context="data">
                        <a href="/Patron/Details/@data.PatronId">
                            <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon="list" Size="ButtonSize.Small" Text="Details"></RadzenButton>
                        </a>
                    </Template>



                </RadzenGridColumn>

                <RadzenGridColumn TItem="Patron" Context="LMSDbContext" Title="Action" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="100px">

                    <Template Context="data">
                        <a href="/Patron/Delete/@data.PatronId">
                            <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Small" Text="Delete"></RadzenButton>
                        </a>
                    </Template>

                </RadzenGridColumn>


            </Columns>
        </RadzenGrid>
    </div>

    <div style="visibility:@Teachervisible;">
        <RadzenGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterMode="FilterMode.Advanced" AllowPaging="true" PageSize="4"
                    AllowSorting="true" Data="@patrons" TItem="Patron" ColumnWidth="200px" Style=" font-family:'Courier New';font-weight:bolder">
            <Columns>
                <RadzenGridColumn TItem="Patron" Property="ImageFile" Title="Photo" Sortable="false" Filterable="false">
                    <Template Context="data">
                        <RadzenImage Path="@data?.ImageFile" />
                    </Template>
                </RadzenGridColumn>
                <RadzenGridColumn TItem="Patron" Property="FirstName" Title="First Name  " />
                <RadzenGridColumn TItem="Parent" Property="MiddleName" Title="Middle Name" />
                <RadzenGridColumn TItem="Patron" Property="LastName" Title="Last Name" />
                @*<RadzenGridColumn TItem="Library_Management_System.Data.Patron" Property="EmployeeId" Title="SchoolId" />*@





                <RadzenGridColumn TItem="Patron" Context="LMSDbContext" Title="Action" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="100px">
                    <Template Context="data">
                        <a href="/Patron/Details/@data.PatronId">
                            <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon="list" Size="ButtonSize.Small" Text="Details"></RadzenButton>
                        </a>
                    </Template>



                </RadzenGridColumn>

                <RadzenGridColumn TItem="Patron" Context="LMSDbContext" Title="Action" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="100px">

                    <Template Context="data">
                        <a href="/Patron/Delete/@data.PatronId">
                            <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Small" Text="Delete"></RadzenButton>
                        </a>
                    </Template>

                </RadzenGridColumn>


               
            </Columns>
        </RadzenGrid>
    </div>

}





@code
{

    IEnumerable<Patron> patrons;

    RadzenGrid<Patron> patronsGrid;

    LMSDbContext db = new LMSDbContext();

    string patronType { get; set; }
    string Teachervisible = "hidden";
    string Studentvisible = "hidden";

    protected override void OnInitialized()
    {
        patrons = DbContext.Patron.Include("Student").Include("Teacher").ToList();
    }

    //Method to change patron type
    private void patronChange(ChangeEventArgs patronEvent)
    {
        patronType = (patronEvent.Value.ToString());

        if (patronType == "Student")
        {
            Studentvisible = "visible";
            Teachervisible = "hidden";
        }

        else if (patronType == "Teacher")
        {
            Teachervisible = "visible";
            Studentvisible = "hidden";
        }

    }
}