@inherits LayoutComponentBase






<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>

<footer class="footer-main-layout2 " > <p>Copyright 2020 <i class="far fa-copyright"></i> JIS School. All Rights Reserved </p></footer>

@code
{

}
