@inherits LayoutComponentBase
@inject SharedVariablesService VariablesService

<div class="sidebar ">
    <div class="top-row pl-4 navbar navbar-dark">
        <a class="navbar-brand" href="">
            <div class="media">
                <img src="\Images\General\JISLOGO.jpg" alt="jis logo" width="150" height="150" class="rounded-circle" />
            </div>
        </a>

        <button class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <br>
    <br>
    <br>

    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">

        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/Librarian/Homepage" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Homepage
                </NavLink>
            </li>

            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/Librarian/Circulation" Match="NavLinkMatch.All">
                    <span class="oi fas fa-sync" aria-hidden="true"></span> Circulation
                </NavLink>
            </li>

            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/Librarian/Catalog" Match="NavLinkMatch.All">
                    <span class="oi fas fa-book" aria-hidden="true"></span> Catalog
                </NavLink>
            </li>

            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/Librarian/Publishers" Match="NavLinkMatch.All">
                    <span class=" oi fas fa-book-open" aria-hidden="true"></span> Publishers
                </NavLink>
            </li>

            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/Librarian/Authors" Match="NavLinkMatch.All">
                    <span class="oi fas fa-pencil-alt" aria-hidden="true"></span> Authors
                </NavLink>
            </li>

            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/Librarian/Patrons/Search" Match="NavLinkMatch.All">
                    <span class="oi fas fa-users" aria-hidden="true"></span> Patrons
                </NavLink>
            </li>


            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/Librarian/Parents/Search" Match="NavLinkMatch.All">
                    <span class="oi fas fa-users" aria-hidden="true"></span> Parents
                </NavLink>
            </li>


            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/Librarian/Donors" Match="NavLinkMatch.All">
                    <span class="oi fas fa-users" aria-hidden="true"></span> Donors
                </NavLink>
            </li>


            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/Librarian/Schedule" Match="NavLinkMatch.All">
                    <span class="oi far fa-calendar-alt" aria-hidden="true"></span> Schedule
                </NavLink>
            </li>

            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/Librarian/Notifications" Match="NavLinkMatch.All">
                    <span class="oi  fas fa-bell" aria-hidden="true"></span> Notification
                </NavLink>
            </li>

        </ul>

    </div>


</div>

<div class="main">


    <div class="top-row px-4 auth container-fluid">

        <img class="jisheading" src="/Images/General/LMS.png" alt="LMSlogo" />



        <a href="/Librarian/Account/@VariablesService.GetEmployeeId" target=""><i style="color:black" class="far fa-user-circle fa-1x"></i>  My Account</a>
        <a href="/" target=""><i style="color:black" class="fas fa-sign-out-alt fa-1x" />  Logout</a>
        <a href="/librarian/Help" target="">Help</a>
    </div>
    <div class="content px-4">
        <br>
        @Body

    </div>
</div>

<footer class="footer-main-layout1 "> <p style=" color: #013E7E;">Copyright 2020 <i class="far fa-copyright"></i> JIS School. All Rights Recived </p></footer>


@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
