@inherits LayoutComponentBase

@*<div class="sidebar ">

        <NavMenu />
    </div>*@


<div class="media">
    <a href="/">
         <img src="\Images\General\jislogo.png" alt="jis logo" width="120" height="120" />
    </a>
</div>


<div class="main">


    <div class="top-row px-4 auth container-fluid">

        <img class="jisheading" style="margin-right:14.5em" src="/Images/General/LMS.png" alt="LMSlogo" />

        <a href="/Help" target="">Help</a>

    </div>
    <div class="content px-4">
        <br>
        @Body

    </div>
</div>


<footer class="footer-main-layout1 "> <p style=" color: #013E7E;">Copyright 2020 <i class="far fa-copyright"></i> JIS School. All Rights Reserved </p></footer>










