@inherits LayoutComponentBase

@*<div class="sidebar ">

        <NavMenu />
    </div>*@


<div class="media">
    <img src="\Images\General\jislogo.png" alt="jis logo" width="150" height="150" />
</div>


<div class="main">


    <div class="top-row px-4 auth container-fluid">

        <img class="jisheading" style="margin-left:-25rem" src="/Images/General/LMS.png" alt="LMSlogo" />

        <a href="/Help" target="">Help</a>

    </div>
    <div class="content px-4">
        <br>
        @Body

    </div>
</div>


<footer class="footer-main-layout1 "> <p style=" color: #013E7E;">Copyright 2020 <i class="far fa-copyright" ></i> JIS School. All Rights Recived </p></footer>










