@inherits LayoutComponentBase
@inject SharedVariablesService VariablesService




<div class="sidebar ">
    <NavMenu />
</div>

<div class="main">


    <div class="top-row px-4 auth container-fluid">
        @*<h3 class="jisheading">JIS Library Management System </h3>*@
        <img class="jisheading" src="/Images/General/LMS.png" alt="LMSlogo" style="" />

        <a href="/SystemAdmin/Account/@VariablesService.GetEmployeeId" target=""><i style="color:black" class="far fa-user-circle fa-1x"></i>  My Account</a>
        <a href="/" target=""><i style="color:black" class="fas fa-sign-out-alt fa-1x" /></a>
        <a href="/Admin/Help" target="">Help</a>

    </div>
    <div class="content px-4">
        <br>
        @Body

    </div>
</div>

<footer class="footer-main-layout1 "> <p style=" color: #013E7E;">Copyright 2020 <i class="far fa-copyright"></i> JIS School. All Rights Recived </p></footer>

@code
{

}
