@inherits LayoutComponentBase




<div class="sidebar ">
    <NavMenu />
</div>

<div class="main">


    <div class="top-row px-4 auth container-fluid">
        <h3 class="jisheading">JIS Library Management System </h3>



        <a href="" target="_blank"><i style="color:black" class="far fa-user-circle fa-1x"></i>My Account</a>
        <a href="/" target="_blank"><i style="color:black" class="fas fa-sign-out-alt fa-1x" /></a>
        <a href="" target="_blank">Help</a>
    </div>
    <div class="content px-4">
        <br>
        @Body

    </div>
</div>

@code
{
   
}
