@*Page Name:Delete Employee
    Page Description: This page is for deleting an employee from the database*@

@page "/Employee/Delete/{Id:int}"
@layout SystemAdminLayout
@using JIS_LMS.Data;
@using JIS_LMS.Model;
@inject NavigationManager NavigationManager
@inject EmployeeService EmployeeService


<div class="container" style="margin-left:1em">
    <h3>Delete Employee</h3>

    <div class="alert alert-danger ">
        Do you want to delete this Employee?
        <br>
        <br>
        Note: This Employee will not be deleted if it is linked to a patron or a library.

    </div>

    <table>
        <tr>
            <th>Name: </th>
            <td>@employee.FirstName @employee.LastName</td>
        </tr>
        <tr>
            <th>Mobile: </th>
            <td>@employee.Mobile</td>
        </tr>
        <tr>
            <th>Email:</th>
            <td>@employee.Email</td>
        </tr>
    </table>
    <br />
    <button type="submit" class="btn btn-outline-danger " style=" width: 160px;" @onclick="RemoveEmployee">Delete Employee</button>
    <a href="/Employees/Search" class="btn btn-outline-secondary" role="button">Cancel</a>

    <div class="mt-4"></div>
</div>

@code {

    Employee employee = new Employee();

    [Parameter]
    public int Id { get; set; }

    // Execute when component starts / initializes
    protected override void OnInitialized()
    {
        employee = EmployeeService.GetEmployee(Id);
    }

    // Deleting an employee from the database
    private void RemoveEmployee()
    {
        EmployeeService.DeleteEmployee(Id);

        // May navigate to the Employee Search Page
        NavigationManager.NavigateTo("/Employees/Search");
    }



}