@*Page Name: Add Donor
  Page Description: This page is for adding a Donor*@

@page "/Donor/Add"
@layout SystemAdminLayout
@using JIS_LMS.Data;
@using JIS_LMS.Model;
@using Microsoft.AspNetCore.Components.Forms
@using Radzen.Blazor.Rendering
@inject DonorService DonorService
@inject NavigationManager NavigationManager



<div class="container-fluid container-contact100">
    <div class="wrap-contact100">
        <h3>Add New Donor</h3>
        <fieldset>
            <EditForm Model="donor" OnValidSubmit="CreateDonor">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div class="form-group">
                    <label for="first-name">*First Name:</label>
                    <InputText id="first-name" @bind-Value="donor.FirstName" class="form-control" placeholder="Enter Donor Fisrt Name" />
                </div>

                <div class="form-group">
                    <label for="middle-name">Middle Name:</label>
                    <InputText id="middle-name" @bind-Value="donor.MiddleName" class="form-control" placeholder="Enter Donor Middle Name" />
                </div>

                <div class="form-group">
                    <label for="last-name">*Last Name:</label>
                    <InputText id="last-name" @bind-Value="donor.LastName" class="form-control" placeholder="Enter Donor Last Name" />
                </div>



                <div class="form-group">
                    <label for="email" class="control-label">Email: </label>
                    <InputText type="email" id="email" @bind-Value="donor.Email" class="form-control" placeholder="sam@example.com" />
                    <ValidationMessage For="@(() => donor.Email)" />
                </div>

                <div class="form-group">
                    <label for="mobile">Mobile:</label>
                    <InputText id="mobile" @bind-Value="donor.Mobile" class="form-control" placeholder="05xxxxxxxx" />
                    <ValidationMessage For="@(() => donor.Mobile)" />
                </div>



                <button type="submit" class="btn btn-outline-primary" style=" width: 80px;">Save</button>
                <a href="Donors" class="btn btn-outline-secondary">Cancel</a>
                <div class="mt-4"></div>
            </EditForm>
        </fieldset>
    </div>
</div>

<br>
<br>
<br>
<br>

@code {
    Donor donor = new Donor();


    private List<Donor> donors = new List<Donor>();

    // Execute when component starts / initializes
    protected override void OnInitialized()
    {

        donors = DonorService.GetDonors();
    }


    // Creating and Adding a new donor to the database
    private void CreateDonor()
    {

        DonorService.AddNewDonor(donor);

        // To empty the form
        donor = new Donor();

        // May navigate to the Employees component
        NavigationManager.NavigateTo("/Donors");
    }
}


