@*Page Name: Parents
    Page Description: This page is for seaching parents*@

@page "/Librarian/Parents/Search"
@layout LibrarianLayout
@using Microsoft.EntityFrameworkCore
@using JIS_LMS.Data;
@using JIS_LMS.Model;
@using Microsoft.AspNetCore.Components.Forms
@inject ParentService ParentService
@inject LMSDbContext DbContext

<h3 style=" margin-top: 50px;font-weight: bolder;color:#013E7E">Search Parents</h3>
<br>


@if (parents == null)
{
    <p style="color:red">loading....</p>
}

else
{
    <RadzenGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterMode="FilterMode.Advanced" AllowPaging="true" PageSize="6"
                AllowSorting="true" Data="@parents" TItem="Parent" ColumnWidth="200px" >
        <Columns>
            <RadzenGridColumn TItem="Parent" Property="FullName" Title="Name  " />
            <RadzenGridColumn TItem="Parent" Property="PrimaryContactNumber" Title="Primary Contact Number" />
            <RadzenGridColumn TItem="Parent" Property="PrimaryEmail" Title="Primary Email" />
            <RadzenGridColumn TItem="Parent" Context="LMSDbContext" Title="Action" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="100px">
                <Template Context="data">
                    <a href="/Librarian/Parent/Details/@data.ParentId">
                        <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon="list" Size="ButtonSize.Small" Text="Details"></RadzenButton>
                    </a>
                </Template>
            </RadzenGridColumn>
        </Columns>
    </RadzenGrid>

}





@code
{

    IEnumerable<Parent> parents;

    RadzenGrid<Parent> parentsGrid;

    // Execute when component starts / initializes
    protected override void OnInitialized()
    {
        parents = DbContext.Parent;
    }

}