@*Page Name: Library Details
  Page Description: This page is for showing the infromation and details of a library*@

@page "/Library/Details/{Id:int}"
@using JIS_LMS.Data;
@using JIS_LMS.Model;
@layout SystemAdminLayout
@inject LibraryService LibraryService
@inject AddressService AddressService


<div class="container">
    <div class="container-fluid container-contact100">
        <div class="wrap-contact100">
            <h3>Library Details</h3>

            <table class="table table-hover">

                <tr>
                    <td>Name: </td>
                    <td>@library.Name</td>
                </tr>
                <tr>
                    <td>Section: </td>
                    <td>@library.Section</td>
                </tr>
                <tr>
                    <td>Status:</td>
                    <td>@library.Status</td>
                </tr>

            </table>

            <br><br><br>

            <a href="/Library/Edit/@Id" class="btn btn-outline-primary" role="button">Edit</a>
            <a href="/Libraries/Search" class="btn btn-outline-secondary" role="button">Back</a>
            <div class="mt-4"></div>
        </div>
    </div>
</div>

@code {

    Library library = new Library();

    [Parameter]
    public int Id { get; set; }

    // Execute when component starts / initializes
    protected override void OnInitialized()
    {
        //Get the library detials 
        library = LibraryService.GetLibrary(Id);

    }
}
