@*Page Name: Parents
  Page Description: This page is to be able to acess the Add Parent and Search for Parent pages *@

@page "/Parents"
@layout SystemAdminLayout


<h1 style=" margin-top: 80px;color:#013E7E;font-weight: bolder;margin-left:5rem">Parents</h1>


<div class="row " style="margin-top: 100px;margin-left:5rem">
    <RadzenCard Style="width:450px; margin-bottom: 20px; height:400px;">

        <a href="/Parent/Add" style="margin-top: -3rem">
            <i style="margin-left:9.5rem;" class="fas fa-user-plus icons-layout"></i>

            <h3 style="text-align:center;color:#013E7E;font-weight: bolder;margin-top:1rem">Add Parent</h3>
        </a>

    </RadzenCard>

    <RadzenCard Style="width:450px; margin-bottom: 20px; height:400px;margin-left:15rem">

        <a href="/Parents/Search" style="margin-top: -3rem">

            <i style="margin-left:8rem;" class="fas fa-search icons-layout"></i>

            <h3 style="text-align:center;color:#013E7E;font-weight: bolder;margin-top:1rem">Search For Parent</h3>

        </a>

    </RadzenCard>
</div>


