@*Page Name:Edit Publisher
  Page Description: This page is for edting a publisher information*@

@page "/Librarian/Publisher/Edit/{Id:int}"
@layout LibrarianLayout
@using JIS_LMS.Data;
@using JIS_LMS.Model;
@inject NavigationManager NavigationManager
@inject PublisherService PublisherService

<div class="container-fluid container-contact100">
    <div class="wrap-contact100">
        <h3>Edit Publisher Information</h3>
        <fieldset>

            <EditForm Model="publisher" OnValidSubmit="UpdatePublisher">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="form-group">
                    <label for="first-name">*Name:</label>
                    <InputText id="first-name" @bind-Value="publisher.Name" class="form-control" placeholder="Enter Publisher Name" />
                </div>

                <button type="submit" class="btn btn-outline-primary" style=" width: 80px;">Save</button>
                <a href="/Librarian/Publishers/Search" class="btn btn-outline-secondary">Cancel</a>
                <div class="mt-4"></div>
            </EditForm>
        </fieldset>
    </div>
</div>


<br />

<p>@message</p>

@code {

    [Parameter]
    public int Id { get; set; }

    Publisher publisher = new Publisher();


    string message;

    // Execute when component starts / initializes
    protected override void OnInitialized()
    {
        publisher = PublisherService.GetPublisher(Id);
    }

    // Edting and updating author infromation 
    public void UpdatePublisher()
    {

        // Edit Publisher
        PublisherService.EditPublisher(publisher);

        message = "Publisher updated successfully";

        // May navigate to the Publishers Search Page
        NavigationManager.NavigateTo("/Librarian/Publishers/Search");
    }
}
