@*Page Name:Delete Library
  Page Description: This page is for deleting a library from the database*@

@page "/Library/Delete/{Id:int}"
@layout SystemAdminLayout
@using JIS_LMS.Data;
@using JIS_LMS.Model;
@inject NavigationManager NavigationManager
@inject LibraryService LibraryService

<div class="container" style="margin-left:1em">
    <h3>Delete  Library</h3>

    <div class="alert alert-danger">
        Do you want to delete this  Library?
        <br>
        <br>
        Note: This Library will not be deleted if it is linked to a patron, employee, library material, or hold.

    </div>

    <table>
        <tr>
            <th>Name: </th>
            <td>@library.Name </td>
        </tr>
        <tr>
            <th>Section: </th>
            <td>@library.Section</td>
        </tr>
        <tr>
            <th>Status:</th>
            <td>@library.Status</td>
        </tr>
    </table>
    <br />
    <button type="submit" class="btn btn-outline-danger " style=" width: 160px;" @onclick="RemoveLibrary">Delete Library</button>
    <a href="/Libraries/Search" class="btn btn-outline-secondary" role="button">Cancel</a>

    <div class="mt-4"></div>
</div>

@code {

    Library library = new Library();

    [Parameter]
    public int Id { get; set; }

    // Execute when component starts / initializes
    protected override void OnInitialized()
    {
        library = LibraryService.GetLibrary(Id);
    }

    // Deleting a library from the database
    private void RemoveLibrary()
    {
        LibraryService.DeleteLibrary(Id);

        // May navigate to the Libraries Search Page
        NavigationManager.NavigateTo("/Libraries/Search");
    }



}
