@page "/Catalog"
@layout SystemAdminLayout

<h1 style=" margin-top: 150px;font-family: Courier New, Courier, monospace;font-weight: bolder;">Catalog</h1>

<div class="row">
    <div class="column">
        <a href="/Catalog/Add">
            <i class=" fas fa-book icons-layout"></i>
        </a>
        <h3 style="text-align: center; top: 40px;color: #013E7E;font-family: Courier New, Courier, monospace; font-weight: bolder;float:left">Add Library Material</h3>
    </div>
    <div class="column" style="padding-right:6em;">
        <a href="/Catalog/Search">
            <i class="fas fa-search icons-layout"></i>

        </a>
        <h3 style="text-align: center; top: 40px;color: #013E7E;font-family: Courier New, Courier, monospace; font-weight: bolder;float:left">Search For Library Material</h3>
    </div>
</div>

@code {

}
