@*Page Name:Delete Hold
    Page Description: This page is for deleting a hold from the datbase*@

@page "/Hold/Delete/{Id:int}"
@layout SystemAdminLayout
@using JIS_LMS.Data;
@using JIS_LMS.Model;
@inject NavigationManager NavigationManager
@inject HoldService HoldService


<div class="container" style="margin-left:1em">
    <h3>Delete Hold</h3>

    <div class="alert alert-danger ">
        Do you want to Delete this Hold?
    </div>

    <table>
        <tr>
            <td>Patron Name: </td>
            <td>@hold.Patron.FullName</td>
        </tr>
        <tr>
            <td>Library Material Title: </td>
            <td>@hold.LibraryMaterial.Title</td>
        </tr>
        <tr>
            <td>Hold Date & Time:</td>
            <td>@hold.HoldDateTime</td>
        </tr>
    </table>
    <br />
    <button type="submit" class="btn btn-outline-danger " style=" width: 160px;" @onclick="RemoveHold">Delete Hold</button>
    <a href="/Circulation" class="btn btn-outline-secondary" role="button">Cancel</a>

    <div class="mt-4"></div>
</div>

@code {

    Hold hold = new Hold();

    [Parameter]
    public int Id { get; set; }

    // Execute when component starts / initializes
    protected override void OnInitialized()
    {
        hold = HoldService.GetHold(Id);
    }

    // Deleting a hold from the database
    private void RemoveHold()
    {
        HoldService.DeleteHold(Id);

        // May navigate to the Circulation Page
        NavigationManager.NavigateTo("/Circulation");
    }


}