@*Page Name:Edit Donor
  Page Description: This page is for edting an donor information*@

@page  "/Donor/Edit/{Id:int}"
@inject NavigationManager NavigationManager
@using JIS_LMS.Data;
@using JIS_LMS.Model;
@layout SystemAdminLayout
@inject DonorService DonorService

<div class="container-fluid container-contact100">
    <div class="wrap-contact100">
        <h3>Edit Donor Information</h3>
        <fieldset>

            <EditForm Model="donor" OnValidSubmit="UpdateDonor">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div class="form-group">
                    <label for="first-name">*First Name:</label>
                    <InputText id="first-name" @bind-Value="donor.FirstName" class="form-control" placeholder="Enter Donor Fisrt Name" />
                </div>

                <div class="form-group">
                    <label for="middle-name">Middle Name:</label>
                    <InputText id="middle-name" @bind-Value="donor.MiddleName" class="form-control" placeholder="Enter Donor Middle Name" />
                </div>

                <div class="form-group">
                    <label for="last-name">*Last Name:</label>
                    <InputText id="last-name" @bind-Value="donor.LastName" class="form-control" placeholder="Enter Donor Last Name" />
                </div>



                <div class="form-group">
                    <label for="email" class="control-label">Email: </label>
                    <InputText type="email" id="email" @bind-Value="donor.Email" class="form-control" placeholder="sam@example.com" />
                    <ValidationMessage For="@(() => donor.Email)" />
                </div>

                <div class="form-group">
                    <label for="mobile">Mobile:</label>
                    <InputText id="mobile" @bind-Value="donor.Mobile" class="form-control" placeholder="0500000000" />
                    <ValidationMessage For="@(() => donor.Mobile)" />
                </div>



                <button type="submit" class="btn btn-outline-primary" style=" width: 80px;">Save</button>
                <a href="Donors/Search" class="btn btn-outline-secondary">Cancel</a>
                <div class="mt-4"></div>
            </EditForm>
        </fieldset>
    </div>
</div>


<br />

<p>@message</p>

@code {

    [Parameter]
    public int Id { get; set; }

    Donor donor = new Donor();


    string message;

    // Execute when component starts / initializes
    protected override void OnInitialized()
    {
        donor = DonorService.GetDonor(Id);
    }


    // Edting and updating author infromation 
    public void UpdateDonor()
    {

        // Edit Donor
        DonorService.EditDonor(donor);


        message = "Donor updated successfully";

        // May navigate to the Donor Search Page
        NavigationManager.NavigateTo("Donors/Search");
    }
}

