@*Page Name: Add Schedule
    Page Description: This page is for adding a new Schedule*@

@page "/Schedule/Add"
@layout SystemAdminLayout
@using JIS_LMS.Data;
@using JIS_LMS.Model;
@inject ScheduleService ScheduleService
@inject SharedVariablesService SharedVariables
@inject NavigationManager NavigationManager
@inject LMSDbContext DbContext

            <div class="container-fluid container-contact100">
                <div class="wrap-contact100">
                    <h3>Add New Schedule </h3>
                    <fieldset>
                        <EditForm Model="schedule" OnValidSubmit="CreateSchedule">
                            <DataAnnotationsValidator />
                            <ValidationSummary />

                            <div class="form-group">
                                <label for="year">*Year:</label>
                                <InputText id="year" @bind-Value="schedule.Year" class="form-control" placeholder="Enter Schedule Year " />
                            </div>

                            <div class="form-group">
                                <label for="semester">*Semester:</label>
                                <InputText id="semester" @bind-Value="schedule.Semester" class="form-control" placeholder="Enter Schedule Semester Ex.Fall 2020-2021 " />
                            </div>

                            <div class="form-group">
                                <label for="className">*Class Name:</label>
                                <InputText id="className" @bind-Value="schedule.ClassName" class="form-control" placeholder="Enter Class Name " />
                            </div>

                            <div class="form-group">
                                <label for="classYear">*Class Year:</label>
                                <InputText id="classYear" @bind-Value="schedule.ClassYear" class="form-control" placeholder="Enter Class Year " />
                            </div>


                            <button type="submit" class="btn btn-outline-primary" style=" width: 80px;">Save</button>
                            <a href="/Schedule" class="btn btn-outline-secondary">Cancel</a>
                            <div class="mt-4"></div>
                        </EditForm>
                    </fieldset>
                </div>
            </div>
    


<br>
<br>
<br>
<br>


@code {
    Schedule schedule = new Schedule();

    private List<Schedule> schedules = new List<Schedule>();

    // Execute when component starts / initializes
    protected override void OnInitialized()
    {

        schedules = ScheduleService.GetSchedules();

    }

    // Creating and Adding a new schedule to the database
    private void CreateSchedule()
    {

        ScheduleService.AddNewSchedule(schedule);

        // To empty the form
        schedule = new Schedule();

        // May navigate to the Libraries component
        NavigationManager.NavigateTo("/Schedule");
    }
}



