@*Page Name:Help Page
    Page Description: This page includes the answers for thr most frequently asked qustions(FAQ) by the users to aid them  *@


@page "/Help"

<br>
<br>
<br>
<br>
<br>

<div class="container-fluid" style="text-align:left;margin-right:25rem">

    <h3 style="font-weight:bold;color: #013E7E">Frequently Asked Qustions(FAQ)</h3>
    <br>
    <br>
    <br>

    <h4 style="font-weight: bold;color: #013E7E ">Where can I search for library materials?</h4>

    <p style="font-size:18px">
        If you are a student or a teacher the search feature for library materials is in your homepage,
        so click the homepage option on the sidebar to reach it.
    </p>

    <p style="font-size:18px">
        If you are a librarian the search feature for library materials is in the catalog page,
        so click the catalog option on the sidebar to reach it.
    </p>

    <br>
    <h4 style="font-weight: bold;color: #013E7E ">How can I view my borrowings?</h4>

    <p style=" font-size:18px">
        Click on the "My Library Materials" option on the sidebar and you will find your borrowings under the "Borrowing" tab.
    </p>

    <br>
    <h4 style="font-weight: bold;color: #013E7E ">For how long I can borrow a library material?</h4>

    <p style="font-size:18px;font-weight:500 ">
        A library material can be borrowed for only two weeks.
    </p>


</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
