@*Page Name:Homepage
    Page Description: This page allows the user to access  the student login page,employee login page,and the help page.  *@


@layout HomepageLayout
@page "/"


<nav class="menuFont">
    <ul class="bottomMenu">
        <li style="justify-content: right;"><a href="/Help">Help</a></li>
    </ul>
</nav>
<br>


<img class="mclsLogo" src="/Images/General/Library-MS.png" alt="Library System Logo" />

<br>
<br>
<br>
<br>
<br>
<br>



<div class="header2">
</div>

<div class="homeTemp" style="justify-content:center;margin-left:1em">

    <div class="homeTempImg2">
        <a href="/Students/Login"><img src="/Images/General/students2.png" alt="login" /></a>
        <div class="homeTempDesc2"><a class="homeTempDescLink" href="/Students/Login">Students Login</a></div>
    </div>
    <div class="homeTempImg2">
        <a href="/Employees/Login"><img src="/Images/General/employee.png" alt="login" /></a>
        <div class="homeTempDesc2"><a class="homeTempDescLink" href="/Employees/Login/">Employees Login</a></div>
    </div>
    <div class="homeTempImg2">
        <a href="/Help"><img src="/Images/General/Asset 1.png" alt="help" /></a>
        <div class="homeTempDesc2"><a class="homeTempDescLink" href="/Help">Help</a></div>
    </div>
</div>

<br>
<br>



<div class="header2">
</div>

<br>
<br>
<br>

<span id="MCLS" style="font-weight:bold">Jeddah International School</span>
<br />
<span id="MCLS" style="font-weight:bold">Library Management System</span>
<br />
<section class="cLogos">
    <a href="https://www.jischool.org/" target="_blank">
        <img alt="School logo" src="/Images/General/jislogo.png">
    </a>
</section>
<br />
<section class="socialMediaIcons" style="margin-right:8em;">
    <a href="https://www.facebook.com/jis.kjis/" target="_blank">
        <img alt="facebook" src="/Images/General/facebook.png">
    </a>

    <a href="https://www.instagram.com/jis.kjis/?hl=en" target="_blank">
        <img alt="instagram" src="/Images/General/instagram.png">
    </a>

    <a href="https://twitter.com/jis_kjis" target="_blank">
        <img alt="twitter" src="/Images/General/twitter.png">

    </a>
    <br /><br /><br />
</section>
<br />
<br />
<br />
<br />


